html,body {
    margin: 0;
    overflow-x: hidden;
    background: #fde0e4;
    color: #8b8b8d;
    font: 500 16px/22px 'Microsoft Yahei', 'Segou UI', sans-serif;
}
body {
    padding: 200px 20px 0;
    margin-top: 200px;
}
a {
    text-decoration: none;
    display: inline-block;
}
:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 60px;
    color: #565656;
    margin: 0;
}
h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 46px;
    margin: 50px 0;
    text-align: center;
}
h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 46px;
    margin: 0;
}
p {
    margin: 30px 0;
}
.grid {
    max-width: 1200px;
    margin: 0 auto;
}
nav .grid {
    padding: 0 30px;
}
.center {
    text-align: center;
}
.link {
    color: #f43851;
    border-bottom: 2px solid currentColor;
    margin-bottom: -2px;
    position: relative;
    -webkit-transition: color 150ms;
    transition: color 150ms;
}
.link:active {
    top: 2px;
}
.link:hover {
    color: #c3c3c3;
}
.link.codepen {
    color: #050305;
}
.btn {
    cursor: pointer;
    display: inline-block;
    font: 500 16px/22px 'Microsoft Yahei', 'Arial', sans-serif;
    line-height: 45px;
    padding: 0 20px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    border: 0;
    position: relative;
    box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2);
}
.btn:active {
    top: 2px;
    box-shadow: none;
}
.btn.red {
    background: #740A18 ;
}
.btn + .btn {
    margin-left: 15px;
}
.menu {
    position: relative;
    float: left;
    left: 13px;
    top: 13px;
    width: 40px;
    height: 40px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
}
.menu:hover {
    opacity: 1;
}
.menuHidden .menu {
    opacity: 0;
    pointer-events: none;
}
.hamburger,
.hamburger::after,
.hamburger::before {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 3px;
    line-height: 0;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}
.hamburger::before {
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
}
.hamburger::after {
    content: '';
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
    background: #fff;
}
.icon {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}
.icon p {
    margin: 0;
}
.icon p img {
    margin: 0 !important;
    vertical-align: middle !important;
}
header {
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
}
.top-bar {
    text-align: right;
    font-size: 18px;
    font-weight: 300;
    line-height: 66px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    background: #F2203C;
    z-index: 1;
    position: relative;
}
.top-bar .mail,
.icon {
    margin: 0 20px;
    color: #fff;
    opacity: 0.7;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
}
.icon{
    margin: 0 2px;
}
.top-bar .mail:hover,
.icon:hover {
    opacity: 1;
}
nav {
    z-index: 1;
    background: #F55066;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    padding: 50px 0 0;
    -webkit-transition: -webkit-transform 150ms;
    transition: transform 150ms;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.25);
}
nav a {
    color: #fff;
    text-transform: uppercase;
    line-height: 80px;
    font-size: 18px;
    margin: 0 50px 0 0;
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 150ms;
    transition: all 150ms;
}
nav a:last-child {
    margin-right: 0;
}
nav a:hover,
nav a.active {
    color: #fff;
}
nav a:active,
nav a.active {
    box-shadow: inset 0 -2px 0 currentColor;
}
.collapsed .hamburger {
    background: #fff;
}
.collapsed .hamburger::after {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}
.collapsed .hamburger::before {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}
.collapsed nav {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.box {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 90px 100px;
}
.white-box {
    background: #fff;
}
.red-box {
    background:rgba(245,80,102,0.9);
    color: #fff;
}
.hero {
    line-height: 30px;
    padding-top: 150px;
    text-align: center;
    position: relative;
}
.hero p {
    margin-bottom: 70px;
}
.hero .thumb {
    -webkit-transition: width 150ms, height 150ms;
    transition: width 150ms, height 150ms;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body:not(.collapsed) header:not(.menuHidden) + .hero .thumb,
.hero.sticky .thumb {
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 60px;
    width: 100px;
    height: 100px;
}
.timeline {
    position: relative;
}
.timeline::before {
    content: '';
    height: 100%;
    width: 2px;
    background: #f88090;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    box-shadow: inset 0 -100px 100px -30px #fde0e4;
}
.timeline::after {
    content: '';
    display: block;
    clear: both;
}
.timeline .box {
    width: 45%;
    background: #fff;
    border-radius: 4px;
    padding: 40px;
    float: left;
    clear: both;
}
.timeline .box::before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    background: #f55066;
    position: absolute;
    left: 50%;
    margin: -47px 0 0 -7px;
}
.timeline .box:nth-child(2n+2) {
    float: right;
}
.timeline strong {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    display: block;
}
.timeline span {
    color: #f88090;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 30px;
}
.skills-box .col {
    width: 30%;
    padding: 0 0 0 10%;
    display: inline-block;
    vertical-align: top;
    text-align:center;
    box-sizing: border-box;
}
.skills-box ul {
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}
.skills-box .footnote {
    margin: 100px 0 0;
    font-weight: 300;
    font-size: 14px;
}
.cards {
    font-size: 0;
    line-height: 0;
    margin: 0 0 -30px -15px;
    width: calc(100% + 30px);
}
.card {
    padding: 0 15px 30px;
    margin: 0;
    width: 33.33333%;
    font-weight: 400;
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.card .box {
    padding: 0;
    background: #fff;
    -webkit-transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8);
    transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8);
}
.card .box:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    box-shadow: 0 2px 14px 5px rgba(0, 0, 0, .15);
}
.card a{
    display: block;
}
.card img {
    width: 100%;
}
.card .summary {
    background: #f1dd1e;
    color: #fff;
    padding: 20px;
}
.card span {
    line-height: 20px;
    color: rgba(255, 255, 255, .8);
    font-size: 17px;
}
.card.dark .summary {
    color: #000;
}
.card.dark span {
    color: #454545;
}
.card p {
    padding: 20px;
    margin: 0;
    line-height: 26px;
    font-size: 16px;
    color: #8b8b8d;
}
.summary.kiteops-summary {
    background: #5cbc90;
}
.summary.sp-summary {
    background: #fe8d25;
}
.summary.runceanu-summary {
    background: #179db4;
}
.summary.yor-summary {
    background: #e14e42;
}
.summary.benevol-summary {
    background: #910613;
}
.summary.flip-summary {
    background: #16a085;
}
.summary.pa-summary {
    background: #28261f;
}

.tags {
    position: relative;
    display: block;
    right: 10%;
    bottom: 80px;
    background: url(img/buynow.png) center no-repeat;
    height: 80px;
}

footer.grid {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
}
@media (max-width: 900px) {
    .card {
        width: 50%;
    }
    .skills-box .col {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .skills-box .col ul {
        margin-top: 20px;
    }
    .skills-box .col:not(:first-child) h4 {
        border-top: 2px solid #fff;
        padding-top: 40px;
        margin-top: 40px;
    }
    body {
        margin-top: 0;
        padding-top: 140px;
    }
    header {
        box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.25);
    }
    body:not(.collapsed) .thumb {
        display: none;
    }
    .hero .thumb {
        box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 60px;
        width: 100px;
        height: 100px;
    }
    .box.hero {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .mail {
        display: none;
    }
    nav {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        bottom: 0;
        top: 16px;
        z-index: 1;
        box-shadow: none;
    }
    .collapsed nav {
        -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
        -webkit-transition: none;
        transition: none;
    }
    nav a {
        text-align: center;
        margin: 0;
        display: block;
        line-height: calc((100vh - 66px) / 6);
    }
    nav a:active,
    nav a.active {
        box-shadow: none;
    }
    h3:not(#experience) {
        margin-bottom: 20px;
    }

}
@media (max-width: 750px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu {
        left: 3px;
    }
    .icon {
        margin-right: 10px;
    }
    .timeline .box {
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }
    .timeline .box:last-child {
        margin-bottom: 0;
    }
    .hero p {
        margin-bottom: 20px;
    }
    .skills-box .footnote {
        margin-top: 40px;
    }
}
@media (max-width: 600px) {
    .card {
        width: 100%;
    }
    .box,
    .timeline.box {
        padding: 20px;
    }
    .timeline::before {
        margin-top: -15px;
    }
    .timeline strong {
        margin-bottom: 20px;è¯´
    }
}
@media (max-width: 420px) {
    .btn {
        display: block;
        text-align: center;
    }
    .btn + .btn {
        margin: 20px 0 0;
    }
}